@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap');

*,
::before,
::after {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

a{
    font-family: 'Josefin Sans', sans-serif;
}

.titleprincipal{
    font-family: 'Josefin Sans', sans-serif;
    color: #4c97d7;
    font-weight: bold;
    font-size: 30px;
}

.main{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top, hsla(177, 66%, 79%, 0.5) 0%, hsla(342, 95%, 92%, 0.5) 100%), url(../Imagenes/QR\ Scan.svg);
    background-repeat: no-repeat;
    background-size:contain;
    position: absolute;
    background-position: center;
    background-attachment: fixed;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 50px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style: none;
}

nav ul li{
    display: inline-block;
    margin-right: 70px;
    padding: 3px;
}

nav ul li button:hover
{
    color:black;
}

nav ul li a:hover{
    color:black;
}

a{
    text-decoration: none;
    color: #4c97d7;
    font-size: 30px;
}

#login-form{
    display: none;
}

#info_pagina{
    display:none;
}

#contacto{
    display:none;
}

#variable_user{
    display:none;
}
.form_box{
    width: 380px;
    height: 480px;
    position: relative;
    margin:1% auto;
    background: rgba(0,0, 0,0.7);
    padding: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 30px;
}

.form_box1{
    width: 800px;
    height: 300px;
    box-shadow: block;
    position: relative;
    margin:1% auto;
    background: rgba(0,0, 0,0.7);
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 30px;
}

img.img_box1{
    float:left;
    height: 250px;
    width: 250px;
    padding: 15px;
}

img.img_box2{
    height: 240px;
    width: 400px;
    padding: 15px;
}

.form_box2{
    width: 750px;
    height: 340px;
    box-shadow: block;
    position: relative;
    margin:1% auto;
    background: rgba(0,0, 0,0.7);
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 30px;
    display: block;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

.parag{
    text-align: justify;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    color: white;
}

.parag2{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    color: white;
    display: inline-block;
}

.parag3{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 15px;
}

.button_box{
    display: flex;
    width: 100%;
    margin: 10px auto;
    position:relative;
    box-shadow: 0 0 20px 9px black;
    border-radius: 30px;
    padding-left: 0;
    padding-right: 0;
}

.toogle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    color:#4c97d7;
    font-weight: bold;  
}

#btn{
    display: block;
    top: 0;
    left:0;
    right: auto;
    position:absolute;
    width: 100px;
    height: 100%;
    background: #F3C693;
    border-radius: 30px;
    transition: .5s;
}

.input-group-login{
    top:100px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-group-register{
    top:70px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-group-register1{
    top:70px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input_field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid white;
    outline:none;
    background: transparent;
    font-family: 'Josefin Sans', sans-serif;
}

::placeholder{
    color: white;
}

::-ms-input-placeholder { 
    color: white;
}

.submit_btn{
    width: 80%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: #F3C693;
    border:0;
    outline: none;
    border-radius: 30px;
    transition: .1s ease all;
}

.btn_submit1{
    width: 80%;
    margin: auto;
    border-radius: 30px;
    font-size: 23px;
    color:#4c97d7;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
}

nav ul li a{
    width: 80%;
    margin: auto;
    border-radius: 30px;
    font-size: 23px;
    color:#4c97d7;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
}

#login{
    left: 50px;
}

#login input{
    color:white;
    font-size: 15;
}

#RegistroEstudiante{
    left:450px;
}

#RegistroEstudiante input{
    color:white;
    font-size: 15;
}

#RegistroDocente{
    left:450px;
}

#RegistroDocente input{
    color:white;
    font-size: 15;
}

/* // */

.form{
    width: 100%;
    margin: auto;
}

form .grupo{
    position: relative;
    margin: 45px;
}

input{
    background: none;
    color: #4c97d7;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid white;
    font-family: 'Josefin Sans', sans-serif;
}

input:focus{
    outline: none;
    color: #F3C693;
}

label{
    color: white;
    font-size: 16px;
    position: absolute;
    left: 5px;
    top: 5px;
    transition: 0.5s ease-in-out all;
    pointer-events: none;
    font-family: 'Josefin Sans', sans-serif;
    size: auto; 
}

input:focus~label,
input:valid~label,
input:invalid~label{
    top: -14px;
    font-size: 15px;
    color: #F3C693;
}

.barra{
    position: relative;
    display: block;
    width: 100%;
}

.barra::before{
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: #F3C693;
    transition: 0.3s ease width;
    left: 0;
}

input:focus~.barra::before{
    width: 100%;
}

/* Validación */

.formulario__input-error{
    font-size: 12px;
    /* Para que no agregue margen: */
    margin-bottom: 0; 
    /* Para que el mensaje este oculto: */
    display: none;
    color: white;
}

.formulario_grupo_input {
	position: relative;
}

/* Cuando lo vayamos a mostrar: */
.formulario__input-error-activo{
    display: block;
}

/* Icono */

.formulario__validacion-estado{
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    /* Para ocultarlo: */
    opacity: 0;
}

.formulario__mensaje{
    /* altura: */
    height: 90px;
    /* altura del texto: */
    line-height: 45px;
    background: #F66868;
    padding: 0 15;
    border-radius: 3px;
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
    height: 100%;
    /* Centrar texto */
    text-align: center;
    /* Interlineado: */
    line-height: 20px;
    font-size: 16px;
    /* ocultarlo: */
    display:none;
}

.formulario__mensaje-activo{
    display:block;
}

.formulario__mensaje p {
    margin:0;
}

.formulario__btn {
	height: 45px;
	line-height: 45px;
	width: 30%;
	background: #000;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}

/* --------------- Estilos para validación */

.formulario__mensaje-exito {
	color: #119200;
	display: none;
    border: #119200;
    font-size: 18px;
    left: 5px;
    top: 5px;
    font-family: 'Josefin Sans', sans-serif;
    size: auto; 
    text-align: center;
    font-weight: bold;
}

.formulario__mensaje-exito-activo {
	display: block;
}

.grupo-correcto .formulario__validacion-estado{
    color: #1ed12d;
    opacity: 1;
}

.grupo-incorrecto .formulario__label{
    color: #bb2929;
}

.grupo-incorrecto .formulario__validacion-estado{
    color:#bb2929;
    opacity: 1;
}

.grupo-incorrecto .barra::before{
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: #bb2929;
    transition: 0.3s ease width;
    left: 0;
} 

/* QR */

.formulario2 .btn{
    width: 100%;
    border: none;
    background: rgb(0, 0, 0);
    color: #fff;
    cursor: pointer;
    padding: 20px;
    font-size: 13px;
    border-radius: 5px;
    font-family: 'Josefin Sans', sans-serif;
}

.formulario2 .btn:hover{
    background: #3e14b2;
}

/*Para que el código QR quede centrado*/
.contenedorQR {
    display: flex;
    justify-content: center;
    padding: 55px 0;
}

.content{
    display: flex;
    justify-content: center;
    padding: 55px 0;
}

.contenedorQR_text{
    display: flex;
    justify-content: center;
    padding:0;
}

.form_return{
    color: white;
    padding: 15px 10px;
    background-color: rgb(175, 20, 20);
    text-decoration: none;
    border-radius: 10px;
    border: none;
    width: 100%;
}

.form_return:hover{
    opacity: 0.7;
    color: gray;
}

.item_btn{
    border:none;
    background:rgb(175, 20, 20);
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    box-sizing: border-box;
    overflow: hidden;
    padding: 20px;
    padding-left: 60px;
    padding-right: 85px;
}

/* .item_btn1{
    border:none;
    background:rgb(175, 20, 20);
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    box-sizing: border-box;
    overflow: hidden;
    padding: 20px;
    padding-left: 60px;
    padding-right: 85px;
    width: 20px;
} */

.item_btn:hover{
    background-color: rgb(221, 97, 15);;
}


.title:hover{
    background-color: rgb(221, 97, 15);
}

.title .tile1 .item_btn:hover{
    background-color: rgb(221, 97, 15);
}


/* Info Docente */

.table_info{
    display: block;
    border-spacing: 5px;
    border-collapse: separate;
}

.table_info1{
    display:inline-table;
    border-spacing: 5px;
    border-collapse: separate;
    margin: 0 auto;
    text-align: center;
    padding-left: 280px;
}
.table_info{
    margin: 5px;
}

.table_info2{
    display:inline-table;
    border-spacing: 5px;
    border-collapse: separate;
    margin: 0 auto;
    text-align: center;
    padding-left: 330px;
}

.input_echo{
    border:none;
    /* display: inline-block; */
    font-family: 'Josefin Sans', sans-serif;
    /* display: inline-block; */
    max-width: 100px;
    overflow: hidden;
    /* text-align: center; */
    font-family: 'Josefin Sans', sans-serif;
    /* padding: 20px; */
}

.main .photo{
    width: 200px;
    height: 200px;
    border-radius: 65px;
    overflow: hidden;
    float: left;
}

.photo1{
    width: 150px;
    height: 150px;
    border-radius: 50px;
    overflow: hidden;
    float:none;
}

.photod{
    text-align: center;
}

.title_{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-style: italic;
    padding: 2px;
}

.subtitle{
    text-align:justify;
    font-family: 'Josefin Sans', sans-serif;
    padding: 0.1px;
    width: 300px;
    color:rgb(221, 97, 15);
    font-size:large;
}

.subtitle1{
    text-align:center;
    font-family: 'Josefin Sans', sans-serif;
    padding: 0.1px;
    width: 300px;
    color:rgb(221, 97, 15);
    font-size:large;
}

.input_table{
    /* display: inline-block; */
    font-family: 'Josefin Sans', sans-serif;
    /* display: inline-block; */
    width: 200px;
    overflow: hidden;
    /* text-align: center; */
    font-family: 'Josefin Sans', sans-serif;
    /* padding: 20px; */
}

.label_table{
    text-align:center;
    font-family: 'Josefin Sans', sans-serif;
    padding: 0.1px;
    width: 300px;
    color:rgb(221, 97, 15); 
    font-size:large;
    display: inline-block;
}
.form_boxx{
    width: 1350px;
    height: 270px;
    box-shadow: block;
    position: relative;
    margin:1% auto;
    margin-top: 5%;
    background: rgba(0, 0, 0, 0.87);
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 30px;
}

.input_echo_text{
    border: none;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}

.input_echo_text1{
    border: none;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    text-align: center;
}

.form_boxx1{
    width: 600px;
    height: 330px;
    box-shadow: block;
    position: relative;
    margin:1% auto;
    margin-top: 5%;
    background: rgba(0, 0, 0, 0.87);
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 30px;
}

#contenedor_ver_asistencia{
    display:none;
}

#contenedorQR{
    display:none;
}

.form_boxx2{
    width: 1000px;
    height: 100%;
    box-shadow: block;
    position: relative;
    margin:0 auto;
    /* margin-top: 5%; */
    background: rgba(0, 0, 0, 0.918);
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 30px;
}

.separador{
    height: 2px;
    background-color: rgb(175, 20, 20);
    margin:0;
    padding: 0px;
}















